.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
}

.logo-main-container{
    display: flex;
    flex-direction: column;
}
.logo-main-container h2{
   /* font-style: lexend; */
   color: white;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: asset;
    border: 3px double black ;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 0px wheat;
    padding:5px;
    color: black;
    background-color: wheat;
}
.logo-container p{
    background-color: wheat;
    font-family: woodcut;
}
.logo-container h1{
    background-color: wheat;
    font-family: asset;
}