.header{
    height: 34vw;
    margin: 30px auto;
    background: url('https://as2.ftcdn.net/v2/jpg/08/61/78/53/1000_F_861785399_GYHi4mbEbyuelMi01eede0ZYpW5GWgoe.jpg') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-contents{
    /* position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    top: 10%;
    left: 25%; */
    animation: fadeIn 3s;
}
.header-contents h2{
    color: #FF9933;
    font-family: yatra one;
    font-weight: 700;
    font-size: max(5.8vw,32px);
    text-shadow: 
    2px 2px 0px black,  /* Shadow on top-right */
    -2px -2px 0px black, /* Shadow on bottom-left */
    2px -2px 0px black,  /* Shadow on top-left */
    -2px 2px 0px black;
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}